@page "/"
@rendermode InteractiveServer
@inject ISessionStorageService storage
@inject NavigationManager navManager

<h1>Hello, what's your name?</h1>

<form onsubmit="@SimpleRegister">
    <input type="text" title="Username" @bind-value="UserName"/>
    <button type="submit">Submit</button>
</form>

@if (errorMsg != null) {
    <p style="color: red">@errorMsg</p>
}

@code {
    private string errorMsg = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender){
            var username = await storage.GetItemAsync<string>("username");
            Console.WriteLine(username == null ? "Fresh meat!" : $"Welcome {username}");
            if (username != null)
                SimpleLogin();
        }
    }

    public string UserName;

    public async Task SimpleRegister(){
        if (UserName == null || UserName.Trim(' ') == ""){
            errorMsg = "Username can't be empty!";
            return;
        }
        await storage.SetItemAsync<string>("username", UserName.Trim(' '));
        SimpleLogin();
    }

    public void SimpleLogin()
    {
        navManager.NavigateTo("/presenters");
    }

}
