@page "/presenters"
@using System.Security.Cryptography
@inject ISessionStorageService storage
@inject NavigationManager navManager

@rendermode InteractiveWebAssembly

<h3>Hub</h3>

<h5>Presenters connected:</h5>
<ul>
    @foreach (var username in usersList)
    {
        <li>@username <a href="/presentation/@username" class="button">Open presentation</a></li>
    }
</ul>

@if (hubCon != null && hubCon?.State != HubConnectionState.Connected)
{
    <p>Loading... (@(Enum.GetName(hubCon.State)))</p>
}
@if (hubCon != null && hubCon?.State == HubConnectionState.Connected)
{
    <button @onclick="SendHellos">Say hello to the class</button>
}

@foreach (var m in messages)
{
    <p>@m</p>
}

@code {
    private HubConnection hubCon;
    private string myname;

    private List<string> usersList = new List<string>();
    List<string> messages = new List<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;


        hubCon = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/presenters_hub"))
            .WithAutomaticReconnect()
            .ConfigureLogging((l) => {
                l.SetMinimumLevel(LogLevel.Trace);
            })
            .Build();

        myname = await storage.GetItemAsync<string>("username");
        if (myname == null) ReturnUnregistered();

        hubCon.On<string>("NewMessage", (m) =>
        {
            messages.Add(m);
            StateHasChanged();
        });


        hubCon.On<List<string>>("ListOfUsers", (lu) => 
        { 
            usersList = lu;
            StateHasChanged();
        });

        await hubCon.StartAsync();
        
        
        await hubCon.SendAsync("NewUserReport", myname);
        
        await hubCon.SendAsync("GetListOfUsers");
        StateHasChanged();
    }

    void ReturnUnregistered(){
        navManager.NavigateTo("/");
    }

    public async Task SendHellos(){
        await hubCon.SendAsync("Announce", $"{myname}: Hello, everyone!");
        StateHasChanged();
    }


}
